<section id="depoimento">
  <div class="wrapper">
    <div id="portador">
      Último portador do <span>Megafone:</span>
    </div>
    <h1 id="nome"><%= @statement.name %></h1>
    <div class="clear"></div>
    <article>
      <%= @statement.depo %><span class="fecha_aspas"><img src="assets/aspas_fecha.png" alt="aspas_fecha" width="38" height="30"></span>
    </article>

    <% if @statement.photo && @statement.photo != '' %>
        <%= image_tag @statement.photo, :id => 'profile' %>
    <% else %>
        <%= image_tag '/assets/generic_w_avatar.png', :id => 'profile' %>
    <% end %>
  </div>
</section>