<section id="depoimento">
  <div class="wrapper">
    <div id="portador">
      Atual portador do <span>Megafone:</span>
    </div>
    <h1 id="nome"><%= @statement.name %></h1>
    <div class="clear"></div>
    <article>
      <%= @statement.depo %>
    </article>
    <img src="http://placehold.it/300/300" id="profile" />
    <%= @statement.photo %>
  </div>
</section>