<section id="depoimento">
  <div class="wrapper">
    <div id="portador">
      Atual portador do <span>Megafone:</span>
    </div>
    <h1 id="nome"><%= @statement.name %></h1>
    <div class="clear"></div>
    <article>
      <%= @statement.depo %>
    </article>
    <%= if !@statement.photo.nil? %>
        image_tag @statement.photo, :id => 'profile'
    <% else %>
        <%= image_tag 'generic_w_avatar.png' %> %>
    <% end %>
  </div>
</section>